[tool.poetry]
name = "pydongo"
version = "0.3.0"
description = "A lightweight ORM for MongoDB using Pydantic models."
authors = ["Samuel Abolo <ikabolo59@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [
  { include = "pydongo" }
]
homepage = "https://github.com/tecnosam/pydongo"
repository = "https://github.com/tecnosam/pydongo"
documentation = "https://tecnosam.github.io/pydongo/"
keywords = ["mongodb", "pydantic", "orm", "async", "motor"]

classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Database",
  "Topic :: Software Development :: Libraries",
  "Typing :: Typed"
]

[tool.poetry.dependencies]
python = ">=3.9"
pymongo = "~4.11"
pydantic = "~2.10"
motor = "~3.7"
mkdocs = "^1.6.1"
pymdown-extensions = "^10.14.3"

[tool.poetry.group.dev.dependencies]
mypy = "1.15.0"
ruff = "^0.11.0"
pytest = "^7.4.0"
pytest-asyncio = "^0.23.0"
coverage = "^7.4.0"
mkdocs = "^1.6.1"
mkdocs-material = "^9.6.12"

[build-system]
requires = ["poetry-core>=1.8.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
